/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Courgette&family=STIX+Two+Text&display=swap");


.abtcontactsocial{
  margin-top:23px;
}

.aboutStat > h1 {
  font-family: "Courgette", cursive;
  color: rgba(221, 97, 97, 0.767);
}
.aboutStat > p {
  font-family: "STIX Two Text", serif;
  font-size: larger;
}
.aboutStat > h3 {
  font-family: "Courgette", cursive;
  color: rgba(221, 97, 97, 0.767);
}

.ContactSocialContainer {

  display: -ms-grid;

  display: grid;
  -ms-grid-columns: 0.5fr 12px 0.5fr;
  grid-template-columns: 0.5fr 0.5fr;
  grid-gap: 12px 12px;
}

@media (max-width: 480px) {
  .ContactSocialContainer {

    display: -ms-grid;

    display: grid;
    -ms-grid-columns:1fr;
    grid-template-columns:1fr;
    grid-gap: 12px;
  }
  .abtcontactsocial{
    margin-top:50px;
    margin-left: 30px;
    margin-right: 10px;
  }
}