/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.AdminPanelContainer {
  background: url(../images/purpose.jpeg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  border: 1px solid black;
  -ms-grid-columns: 0.5fr 20px 1.6fr 20px 1.5fr 20px 0.4fr;
  grid-template-columns: 0.5fr 1.6fr 1.5fr 0.4fr;
  -ms-grid-rows: 0.3fr 20px 1.7fr 20px 1.7fr 20px 0.3fr;
  grid-template-rows: 0.3fr 1.7fr 1.7fr 0.3fr;
  gap: 20px 20px;
      grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . .";
}
.AdminPanelForm {
  color: white;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 50px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border: 2px solid transparent;
  background-clip: padding-box;
  -webkit-box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
          box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
  line-height: 1.5;
  color: black;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.adminStaff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 3;
      grid-row-start: 3;
  color: white;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 50px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border: 2px solid transparent;
  background-clip: padding-box;
  -webkit-box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
          box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
}
.AdminPanelFormLabel {
  border-radius: 30px;
  padding: 5px;
  margin: 10px;
  outline-style: none;
  outline-color: white;
  margin-left: 20px;
  color: whitesmoke;
  font-family: "Courgette", cursive;
}

.AlbumInformation {
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 50px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border: 2px solid transparent;
  background-clip: padding-box;
  -webkit-box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
          box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
  line-height: 1.5;
  color: black;
  font-size: 20px;
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
}
.SingleAlbum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.ablumH {
  font-family: "Courgette", cursive;
}
fieldset {
  color: black;
  background-color: rgb(255, 255, 255, 0.5);
  width: 100%;
  outline-style: none;
  border-radius: 50px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border: 2px solid transparent;
  background-clip: padding-box;
  -webkit-box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
          box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
}
.submitImage,
.signoutbtn,
.CreateEmail,
.ChangePasswd,
.RetrieveMessage,
.EmailDelBtn {
  background-color: rgb(255, 255, 255, 0.5);
  width: 100%;
  outline-style: none;
  border-radius: 50px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border: 2px solid transparent;
  background-clip: padding-box;
  -webkit-box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
          box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
  line-height: 1.5;
  color: #392259;
  border-radius: none;
  font-size: 20px;
  margin-top: 10px;
}
.submitImage:hover,
.signoutbtn:hover,
.CreateEmail:hover,
.ChangePasswd:hover,
.RetrieveMessage:hover,
.EmailDelBtn:hover {
  background-color: rgb(255, 255, 255, 0.8);
  -webkit-box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.5);
          box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.5);
  line-height: 1.5;
  color: #392259;
  border-radius: none;
  font-size: 20px;
}
.AdminPanelFormInput,
.AdminPanelFormFiles,
.createEmail {
  border-radius: 30px;
  padding: 5px;
  width: 100%;
  outline-style: none;
  outline-color: white;
}
.Messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
  overflow: scroll;
}

.CustomerMessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgb(255, 255, 255, 0.5);
  width: 100%;
  outline-style: none;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  background-clip: padding-box;
  -webkit-box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
          box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
  font-size: 20px;
}
.heading {
  color: #392259;
}
.msgCustomer {
  width: 100%;
  word-wrap: normal;
}
.CustomerMessages {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.userProfiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: large;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 50px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border: 2px solid transparent;
  background-clip: padding-box;
  -webkit-box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
          box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
}
.userProfiles > div {
  margin-left: 20px;
}
.seeAlbum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
