@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
.contactform {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 300px;
  justify-content: space-evenly;
  grid-column-start: 3;
  grid-row-start: 1;
}
.formIcons {
  margin-right: 5px;
}
input {
  width: 90%;
  
  font-family: "Courgette", cursive;
}
.sendContactFormButton {
  height: 50px;
  outline: none;
  border: none;
  color: white;
  background: rgba(221, 97, 97, 0.767);
  box-shadow: 0 8px 32px 0 rgba(194, 196, 223, 0.37);
  backdrop-filter: blur(18px);
}

.sendContactFormButton:hover {
  background: rgba(235, 47, 47, 0.767);
  box-shadow: 0 8px 32px 0 rgba(194, 196, 223, 0.37);
  backdrop-filter: blur(18px);
}
