/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=WindSong&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap");
.coupleGallaryContainer {
  height: 100vh;
  background-color: blueviolet;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 50px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border: 2px solid transparent;
  background-clip: padding-box;
  -webkit-box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
          box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
  margin:50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.1fr 86px 1.8fr;
  grid-template-columns: 1.1fr 1.8fr;
  -ms-grid-rows: 100vh;
  grid-template-rows: 100vh;
  gap: 16px 86px;
      grid-template-areas: ". .";
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.thanks {
  font-family: "Tangerine", cursive;
  font-size: larger;
}
.customerPanel {
  font-family: "Satisfy", cursive;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  padding: 50px;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 50px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border: 2px solid transparent;
  background-clip: padding-box;
  -webkit-box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
          box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
}
.coupleImageSlider {
  width: 50%;
  height: 50%;
}
.coupleImageSlider > img {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}
.congrats {
  color: red;
}
.congratsMessage {
  font-size: 25px;
}
.buttonCG {
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 50px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border: 2px solid transparent;
  background-clip: padding-box;
  -webkit-box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
          box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
}

.buttonCG:hover {
  background-color: rgb(255, 255, 255, 0.8);
  -webkit-box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.5);
          box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.5);
  line-height: 1.5;
  color: #392259;
}

@media (max-width: 480px) { 

  .coupleGallaryContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1px;
    grid-template-rows: 1px;
    gap:0 0;
    border:none;
    background-clip: padding-box;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin:0;

  } 

  .coupleGallaryContainer > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;

  }
  .customerPanel {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 2;
        grid-row-start: 2;
    margin:10px;
    padding: 10px;
    text-align: center;
  }
  .coupleImagesContainer {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
    margin-top:500px;
    z-index: -1;
    width: 400px;
    padding:10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
   
  }

  .customerPanel {

    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px;
  }
}