.gallaries {
  column-count: 5;
  -moz-column-count: 5;
  -webkit-column-count: 5;
  max-width: 100%;
  padding: 0 12px;
}

.gallaries .pictures {
  transition: all 350ms ease;
  cursor: pointer;
  width: 100%;
  margin-bottom: 12px;
}
.pictures img {
  width: 100%;
  height: 100%;
}
.gallaries .pictures:hover {
  filter: opacity(0.8);
}

.gallaryHeading {
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 50px;
  backdrop-filter: blur(1px);
  border: 2px solid transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  font-family: "Satisfy", cursive;
  color: red;
}
/* model */

.loading {
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 50px;
  backdrop-filter: blur(1px);
  border: 2px solid transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
}

.model {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 50px;
  backdrop-filter: blur(1px);
  border: 2px solid transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
  transition: opacity 0.4s ease, visibility 0.4s ease,
    transform 0.4s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 999;
}

.model.open {
  display: block;
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.model img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
}


@media (max-width: 991px) {
  .gallaries {
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    max-width: 100%;
    padding: 0 12px;
  }
}

@media (max-width: 480px) {
  .gallaries {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    max-width: 100%;
    padding: 0;
  }
  .gallaryHeading {
    margin-top: 60px;
  }

}
