/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Sofia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
:root {
  --primary-color: #bfb188;
  --opacity-color: #f2f2f2;
  --main-color: #d9c6bf;
  --brigh-color: #949fa6;
  --brigh-color-shade: #bfaea8;
  --bight-color-shade-2: #878a8c;
  --bright-color-shade-3: #bfb188;
  --main-color: #7f58a6;
  --main-color1: #a6768c;
  --semi-shokh: #bf8faa;
  --dark-color: #2d2c40;
  --dark-color-shade-1: #392259;

  /* extract gardient */

  --primary-gardient: #cebbb2;
  --secondary-gardient: #65586e;
  --third-gardient: #efece9;
  --golden--: #a18b66;
}
#root {
  margin-right:10%;
  margin-left: 10%;

}

.companyName {
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: "Sacramento" cursive ;
  font-family: "Courgette", cursive;
  text-align: center;
}
.companyName::first-letter {
  font-family: 'Pacifico', cursive;
  color:red;
  border: 1px solid red;
  border-radius:  80% 50%;
}
li {
  list-style: none;
}

.homeNav {
  width: 100%;
}
.homeList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.navicon {
  color:var( --dark-color-shade-1);
  margin-right: 5px;
}
a {
  text-decoration: none;
}
.homeList > a >li {

  width: 100%;
  font-size: larger;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 50px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border: 2px solid transparent;
  background-clip: padding-box;
  -webkit-box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
          box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
  line-height: 1.5;
  color:var(--semi-shokh);
  padding-right: 50px;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.homeList >a> li:hover {
  background-color: #7f58a6;;
  color: white;
}

.imgslidercont {
  height: 50%;
}

.imgslidercont > img {
  height: 370px;
  
}
.mainsil {
  height: 100%;
  width: 100%;
}

.slidercont {
  margin-top: 60px;
}
.HomeContainer {
  margin-top:50px;
  display: -ms-grid;
  display: grid; 
  -ms-grid-columns: 0.5fr 10px 0.5fr; 
  grid-template-columns: 0.5fr 0.5fr;
  -ms-grid-rows: 500px 10px 400px 10px 400px;
  grid-template-rows: 500px 400px 400px;
  grid-gap: 10px 10px;
}
.HomeContainer > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.HomeContainer > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.HomeContainer > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.HomeContainer > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.HomeContainer > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.HomeContainer > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.ContainerImage {
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 50px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border: 2px solid transparent;
  background-clip: padding-box;
  -webkit-box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
          box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
  width: 100%;
  height: 100%;
  
  overflow: hidden;
}
.humbergar {
  display: none;
}
.ContainerImage > img {
  width: 100%;
  height: 100%;

 
}
.bold {
  color:red;
}


.DetailHome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 50px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border: 2px solid transparent;
  background-clip: padding-box;
  -webkit-box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
          box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
  font-family: "Sacramento" cursive ;
  font-family: "Courgette", cursive;
}
.gridTwo {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 2;
      grid-row-start: 2;
}
.gridH {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

@media (max-width: 480px) {
  #root {
    margin:0;
  
  }
  .humbergar {
    
    display: block;
    position: absolute;
    right:20px;
  }
  .homeNav {
    display: none;
  }
  .actives {
    position: relative;
    top:20px;
    display: block;
    width: 100vw;
    height: 100vh;
    z-index:3;
  }
  .homeList {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    font-size:24px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 50px;
    -webkit-backdrop-filter: blur(1px);
            backdrop-filter: blur(1px);
    border: 2px solid transparent;
    background-clip: padding-box;
    -webkit-box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
            box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
    font-family: "Courgette", cursive;
  }
  .homeList > a >li {
    text-align: center;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: unset;
    -webkit-backdrop-filter: blur(1px);
            backdrop-filter: blur(1px);
    border: none;
    background-clip: padding-box;
    -webkit-box-shadow: unset;
            box-shadow: unset;
    line-height: unset;
    color:var(--semi-shokh);
    padding: 0;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  .HomeContainer {
    margin-top:50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
        -ms-flex-direction: column; 
            flex-direction: column;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 500px 10px 400px 10px 400px;
    grid-template-rows: 500px 400px 400px;
    grid-gap: 10px 10px;
  }
  .HomeContainer > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .HomeContainer > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .HomeContainer > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .DetailHome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid black;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 50px;
    -webkit-backdrop-filter: blur(1px);
            backdrop-filter: blur(1px);
    border: 2px solid transparent;
    background-clip: padding-box;
    -webkit-box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
            box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
    font-family: "Sacramento" cursive ;
    font-family: "Courgette", cursive;
  }
  
}