@import url("https://fonts.googleapis.com/css2?family=Sofia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
:root {
  --primary-color: #bfb188;
  --opacity-color: #f2f2f2;
  --main-color: #d9c6bf;
  --brigh-color: #949fa6;
  --brigh-color-shade: #bfaea8;
  --bight-color-shade-2: #878a8c;
  --bright-color-shade-3: #bfb188;
  --main-color: #7f58a6;
  --main-color1: #a6768c;
  --semi-shokh: #bf8faa;
  --dark-color: #2d2c40;
  --dark-color-shade-1: #392259;

  /* extract gardient */

  --primary-gardient: #cebbb2;
  --secondary-gardient: #65586e;
  --third-gardient: #efece9;
  --golden--: #a18b66;
}
#root {
  margin-right:10%;
  margin-left: 10%;

}

li {
  list-style: none;
}

.homeNav {
  width: 100%;
}
.homeList {
  display: flex;
  justify-content: space-evenly;
}
.companyName {
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: "Sacramento" cursive ;
  font-family: "Courgette", cursive;
  text-align: center;
}
.navicon {
  color:var( --dark-color-shade-1);
}
a {
  text-decoration: none;
}
.homeList > a >li {

  width: 100%;
  font-size: larger;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 50px;
  backdrop-filter: blur(1px);
  border: 2px solid transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
  line-height: 1.5;
  color:var(--semi-shokh);
  padding-right: 50px;
  transition: all 1s ease-in-out;
}

.homeList >a> li:hover {
  background-color: #7f58a6;;
  color: white;
}

.imgslidercont {
  height: 50%;
}

.imgslidercont > img {
  height: 370px;
  
}
.mainsil {
  height: 100%;
  width: 100%;
}

.slidercont {
  margin-top: 60px;
}
.HomeContainer {
  margin-top:50px;
  display: grid; 
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 500px 400px 400px;
  grid-gap: 10px 10px;
}

.ContainerImage {
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 50px;
  backdrop-filter: blur(1px);
  border: 2px solid transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
  width: 100%;
  height: 100%;
  
  overflow: hidden;
}

.ContainerImage > img {
  width: 100%;
  height: 100%;

 
}
.bold {
  color:red;
}


.DetailHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 50px;
  backdrop-filter: blur(1px);
  border: 2px solid transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
  font-family: "Sacramento" cursive ;
  font-family: "Courgette", cursive;
}