@import url("https://fonts.googleapis.com/css2?family=Sofia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
:root {
  --primary-color: #bfb188;
  --opacity-color: #f2f2f2;
  --main-color: #d9c6bf;
  --brigh-color: #949fa6;
  --brigh-color-shade: #bfaea8;
  --bight-color-shade-2: #878a8c;
  --bright-color-shade-3: #bfb188;
  --shokh-color: #7f58a6;
  --shokh-color-shade-1: #a6768c;
  --semi-shokh: #bf8faa;
  --dark-color: #2d2c40;
  --dark-color-shade-1: #392259;

  /* extract gardient */

  --primary-gardient: #cebbb2;
  --secondary-gardient: #65586e;
  --third-gardient: #efece9;
  --golden--: #a18b66;
}

.firstpagecontainer {
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.1fr 2.5fr;
  gap: 0% 0px;
  grid-row-gap: 1fr;
  grid-template-areas:
    "title title title"
    "image-three iamge-one image-two";
  background-color: rgb(191, 177, 136,0.5);
  border-radius: 50px;
  backdrop-filter: blur(1px);
  border: 2px solid transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
  z-index: -2;
}

.firstpagetitle {
  z-index: 9;
  color: #7f58a6;
  width: 100%;
  justify-self: center;
  grid-column: 1/-1;
  text-align: center;
  transform: translate(0px, 400px);
  position: fixed;
  font-size: 4rem;
}
.titleitself {
  font-family: "Sacramento", cursive;
}
.firstmainphoto {
  align-self: center;
  z-index: 3;
}
.firstbridephoto {
  padding-left: 40%;
  justify-self: right;
  align-self: center;
}
.firstgroomphoto {
  padding-right: 40%;
  justify-self: left;
  align-self: center;
}

img {
  width: 100%;
  display: block;
}
#titlesvg {
  width: "434";
  height: "65";
}

/* Second Home css */
.secondpagecontainer {
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.1fr 2.5fr;
  gap: 0% 0px;
  grid-row-gap: 1fr;
  grid-template-areas:
    "title title title"
    "image-three iamge-one image-two";
  background-color: rgb(57, 34, 89,0.5);
  border-radius: 50px;
  backdrop-filter: blur(1px);
  border: 2px solid transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
  z-index: -1;
}

.secondpagetitle {
  z-index: 9;
  color: white;
  width: 100%;

  justify-self: center;
  grid-column: 1/-1;
  text-align: center;
}
.secondtitleitself {
  font-family: "Sacramento", cursive;
}
.secondmainphoto {
  align-self: center;
}
.secondbridephoto {
  padding-left: 40%;
  justify-self: right;
  align-self: center;
}
.secondgroomphoto {
  padding-right: 40%;
  justify-self: left;
  align-self: center;
  z-index: -1;
}

#titlesvg {
  width: "434";
  height: "65";
}

/* third home css */
.ThirdPageContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.2fr 1.4fr 1.6fr 0.3fr;
  gap: 7px 8px;
  grid-template-areas:
    "header header header"
    "lefttopimage thirdpagecenterimage righttopimage"
    "leftcenterimage thirdpagecenterimage rightcenterimage"
    "leftbotoomimage thirdpagecenterimage rightbottomimage"
    "footer footer footer";
  height: 100vh;
  width: 100vw;
}

.header {
  font-family: "Sacramento", cursive;
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 100%;
  height: 20%;
  z-index: 7;
}
.lefttopimage {
  grid-area: lefttopimage;
  width: 30%;
  height: 100%;
  position: relative;
  left: 70%;
}
.leftcenterimage {
  width: 30%;
  height: 100%;
  position: relative;
  left: 70%;
}
.leftbotoomimage {
  grid-area: leftbotoomimage;

  width: 30%;
  height: 58%;
  position: absolute;
  right: 0;
}
.righttopimage {
  grid-area: righttopimage;
  width: 30%;
  height: 100%;
}

.rightcenterimage {
  grid-area: rightcenterimage;
  width: 30%;
  height: 100%;
}

.rightbottomimage {
  grid-area: rightbottomimage;
  width: 30%;
  height: 58%;
}
.thirdpagecenterimage {
  display: flex;
  justify-content: center;
  grid-area: thirdpagecenterimage;
}
.footer {
  grid-area: footer;
  width: 20%;
  height: 20%;
  font-family: "Sofia", cursive;
}
img {
  display: block;
}

.lefttopimage > img {
  width: 100%;
  height: 100;
}
.leftcenterimage > img {
  width: 100%;
  height: 100%;
}
.leftbotoomimage > img {
  width: 100%;
  height: 100%;
}
.righttopimage > img {
  height: 100%;
  width: 100%;
}
.rightcenterimage > img {
  height: 100%;
  width: 100%;
}
.rightbottomimage > img {
  height: 100%;
  width: 100%;
}
