/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

form  {

    -webkit-box-align: center;

        -ms-flex-align: center;

            align-items: center;
    text-align: center;
}
.filename {
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
}
.output {
    margin-left: 50px;
    margin-right: 50px;
}

input {
    color: #65586e;
}