form  {

    align-items: center;
    text-align: center;
}
.filename {
        text-align: center;
        align-items: center;
}
.output {
    margin-left: 50px;
    margin-right: 50px;
}

input {
    color: #65586e;
}