* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 120vh;
  width: 100vw;
  background-image: linear-gradient(20deg, red 10%, gray 100%);
}
header {
  width: 100%;
  height: 100%;
  text-align: left;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 20%;
}
header {
  padding: 50px;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 60px;
  color: white;
}
.navbar {
  position: absolute;
  top: 40%;
  left: 10%;
  text-align: left;
  list-style: none;
  font-size: large;
  font-family: "Dancing Script", cursive;
}
h2,
p {
  margin-bottom: 30px;
  color: white;
}

h2:hover {
  color: gray;
}

.container,
.coupleimages {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 20%;
  right: 5%;
  border-radius: 50% 50%;
}
