@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
:root {
  --primary-color: #bfb188;
  --opacity-color: #f2f2f2;
  --main-color: #d9c6bf;
  --brigh-color: #949fa6;
  --brigh-color-shade: #bfaea8;
  --bight-color-shade-2: #878a8c;
  --bright-color-shade-3: #bfb188;
  --shokh-color: #7f58a6;
  --shokh-color-shade-1: #a6768c;
  --semi-shokh: #bf8faa;
  --dark-color: #2d2c40;
  --dark-color-shade-1: #392259;

  /* extract gardient */

  --primary-gardient: #cebbb2;
  --secondary-gardient: #65586e;
  --third-gardient: #efece9;
}
.rphotographyheadingone {
  position: fixed;
  top: 90px;
  left: 200px;
  color: var(--semi-shokh);
  font-size: 100px;
  background-color: rgba(0, 0, 0, 0.1);
  font-family: "Yellowtail", cursive;
}
.rphotographyheadingthree {
  font-size: 100px;
  font-family: "Redressed", cursive;
}
.menubar {
  color: #7f58a6;
  position: fixed;
  top: 8px;
  left: 32px;
}
