* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menubar {
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: right;
  align-items: right;
  border: 2px solid red;
  font-size: 50px;
  background-color: #bfb188;
}
.icons {
  margin-right: 3%;
  background-color: transparent;
  border-style: none;
}
