.App {
  text-align: center;
}
@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Yellowtail&display=swap");
:root {
  --primary-color: #bfb188;
  --opacity-color: #f2f2f2;
  --main-color: #d9c6bf;
  --brigh-color: #949fa6;
  --brigh-color-shade: #bfaea8;
  --bight-color-shade-2: #878a8c;
  --bright-color-shade-3: #bfb188;
  --shokh-color: #7f58a6;
  --shokh-color-shade-1: #a6768c;
  --semi-shokh: #bf8faa;
  --dark-color: #2d2c40;
  --dark-color-shade-1: #392259;

  /* extract gardient */

  --primary-gardient: #cebbb2;
  --secondary-gardient: #65586e;
  --third-gardient: #efece9;
}
.rphotographyheadingone {
  text-align: center;
  font-family: "Yellowtail", cursive;
}
.rphotographyheadingthree {
  text-align: center;
  font-family: "Bungee", cursive;
}

.App-header {
  background-color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.menueToggleButton {
  position: absolute;
  right: 1%;
  top: 5%;
}
